.header {
	background: #24292f;
	padding: 20px 0;
}

.wrapper {
	display: flex; 
	justify-content: flex-start;
	align-items: center;
}

.logo {
	max-width: 60px;
	margin-right: 60px;
}

.input {
	background: #24292f;
	color: #fff;
	padding: 5px;
	width: 250px;

}

